.selected {
  cursor: pointer;
  width: 160px;
  display: inline-block;
  background-color: var(--primary);
  color: var(--light);
  /*background-color: white;
  color: var(--primary);*/
  text-align: center;
  transition: .25s ease;
  border: none;
  padding: 4px;
  border-radius: 10px 12px 0 0;
  font-family: "Montserrat", sans-serif;
  border-top: rgba(247, 247, 247, 0.712) 3px outset;
  border-left: rgba(247, 247, 247, 0.637) 3px outset;
  border-right: rgb(247, 247, 247) 3px outset;
  
  
}


.edit {
  background-color: white!important;
  color: var(--primary)!important;
  outline: none;
  transition: .40s ease;
  font-weight: bolder;
  /*background-color: var(--primary);
  color: var(--light);*/
}
