/* var(--original) */

:root {
  --primary: #EB3581;
  --pdf: #EB3556 ;
  --icons: #464646;
  --green: #36CC72;
  --blue: #1CA2EE;
  --red: #eb3544;
  --light: #f7f6fb;
}

/*Margenes*/


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

aside {
  background-color: #f8f9fa;
}

/*Botones*/

.btn-sell {
  background-color: var(--primary) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;

  box-shadow: 0px 12px 12px -6px var(--primary);
  border-radius: 8px;
  
  transform: scale(1);
  transition: transform 250ms ease;
}

.btn-sell:hover {
  transform: scale(1.2);
}

.btn-add {
  background-color: var(--green) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;

  box-shadow: 0px 12px 12px -6px var(--green);
  border-radius: 8px;
  
  transform: scale(1);
  transition: transform 250ms ease;
  float: right;
}

.btn-add:hover {
  transform: scale(1.2);
}

.btn-pdf {
  background-color: var(--pdf) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;

  box-shadow: 0px 12px 12px -6px var(--pdf);
  border-radius: 8px;

  transform: scale(1);
  transition: transform 250ms ease;
  float: right;
}

.btn-pdf:hover {
  transform: scale(1.2);
}

.btn-save {
  background-color: var(--blue) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;


  box-shadow: 0px 12px 12px -6px var(--blue);
  border-radius: 8px;
  
  transform: scale(1);
  transition: transform 250ms ease;
  float: right;
}

.btn-save:hover {
  transform: scale(1.2);
}


.btn-cancel {
  background-color: var(--red) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;

  box-shadow: 0px 12px 12px -6px var(--red);
  border-radius: 8px;
  
  transform: scale(1);
  transition: transform 250ms ease;
  float: right;
}

.btn-cancel:hover {
  transform: scale(1.2);
}

.btn-ok {
  background-color: var(--green) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  color: #FFF;
  height: 2.5rem;
  width: 7rem;

  box-shadow: 0px 12px 12px -6px var(--green);
  border-radius: 8px;
  
  transform: scale(1);
  transition: transform 250ms ease;
  float: right;
}

.btn-ok:hover {
  transform: scale(1.2);
}

.btn-edit-icon {
  float: right;
}

.btn-actions {
  color: var(--primary);
}

.btn-actions:hover {
  cursor: pointer;
}

.btn-plus-minus {
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  color: var(--light);
  width: 1.8rem;
}

#contenedor{
	/*background: #fba456;*/
	margin-top: 0;
	overflow: hidden;
}


.bloque-derecha{
	background: #f8f9fa;
	margin-top: 0;
	float: left;
	width: 4rem;
}

.bloque-derecha section{
	
	height: 100vh;
	width: 100%;
}

.icon-sidebar {
  margin-top: 2rem;
  color: var(--icons);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-element{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
/* Cards */
.card-shadow {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

.card-products {
  background-color: var(--light);
}

.card-products:hover {
  cursor: pointer;
}


.paginacion {
  background-color: var(--light);
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.btn-paginacion {
  border: none;
  float: right;
  margin-left: 1rem;
  border-radius: 8px;
  background-color: #DFDFDF;
  width: 64px;
}

.paginacion-product {
  border: none;
  /* display: flex; */
  /* align-items: center; */
  /* justify-items: center; */
  /* margin-left: 2.3rem; */
  border-radius: 8px;
  background-color: #DFDFDF;
  width: 64px;
}

.price-cube {
  background: var(--primary); 
  color:white; 
  font-weight: bold; 
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  border-radius: 8px;
}

.prices-cube-view {
  background: var(--primary); 
  color:white; 
  font-weight: bold; 
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1.4rem; */
  border-radius: 8px;
}

.container-sucursales {
  margin-top: 8rem;
}

.div-card {
  margin-top: 2rem;
}

.title-separator {
  border-bottom: 1px solid #EB3581!important;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bold;
}

.alignleft {
  float: left;
  width:33.33333%;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.33333%;
 text-align:right;
}​

.spinner-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 45vh;
}

.total-div {
  margin-top: 13rem;
  font-weight: bolder;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
}

.wallets-card {
  background-color: var(--light);
}

.wallets-text {
  color: var(--primary);
}



/*Media Querys*/

@media (max-width: 1200px){
  
  .btn-pdf, .btn-add, .btn-filter, .btn-small {
    width: 2.5rem;
    font-size: 0;
    margin-right: 0.5rem !important;
  }

  .btn-pdf i, .btn-add i, .btn-filter i, .btn-small i{
    font-size: 16px;
  }

}

@media (min-width: 992px){
  
  .container-div{
    padding: 0 4rem;
  }

}

@media (min-width: 1092px){
  
  .container-div{
    padding: 0 2rem;
  }

}

@media (min-width: 1200px){
  
  .container-div{
    padding: 0 3rem;
  }

}

@media (min-width: 1250px){
  
  .container-div{
    padding: 0 1rem;
  }

}

@media (min-width: 1400px){
  
  .container-div{
    padding: 0 2rem;
  }

}